
<% provide(:title, "Sign in") %>
<h1 class="xl">Sign in for this shit.</h1>
  <div class="form">
    <%= form_for(:session, url: sessions_path) do |f| %>

      <%= f.label :first_name %>
      <%= f.text_field :first_name %>

      <%= f.label :password %>
      <%= f.password_field :password %>

      <%= f.submit "No butt stuff.", class:"button" %>
    <% end %>


</div>