<%= form_for(@answer) do |f| %>
  <% if @answer.errors.any? %>
  <div id="error_explanation">
    <div class="alert alert-error">
      The form contains <%= pluralize(@answer.errors.count, "error") %>.
    </div>
    <ul>
    <% @answer.errors.full_messages.each do |msg| %>
      <li>* <%= msg %></li>
    <% end %>
    </ul>
  </div>
<% end %>

    <%= f.label :content %><br>
    <%= f.text_field :content %>

    <%= f.label :author %><br>
    <%= f.number_field :author %>

    <%= f.label :question %><br>
    <%= f.number_field :question %>

  <input class="btn btn-large btn-primary" name="commit" type="submit"
         value="Submit that shit." />
<% end %>
