<header class="navbar navbar-fixed-top">
    <div class="container">
      <%= link_to "CFLQ", root_path, id: "logo" %>
      <nav>
        <ul class="nav pull-right">
          <% if signed_in? %>
            <li><%= link_to "Ask", new_question_path %></li>
            <li><%= link_to "Answer", questions_path %></li>
            <li><%= link_to "Us", users_path %></li>
            <li id="fat-menu" class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                You <b class="caret"></b>
              </a>
              <ul class="dropdown-menu">
                <li><%= link_to "Profile", current_user %></li>
                <li><%= link_to "Settings", edit_user_path(current_user) %></li>
                <li class="divider"></li>
                <li>
                  <%= link_to "Sign out", signout_path, method: "delete" %>
                </li>
              </ul>
            </li>
            <%= link_to image_tag(current_user.picture_url, alt: 'This is you.', class: 'user-nav-icon img-circle'), current_user %>
          <% else %>
            <li><%= link_to "Sign the fuck in.", signin_path %></li>
          <% end %>
        </ul>

      </nav>
    </div>
</header>